/* Styles for the home page */
.hidden{
    display: none;
}

/* Styles for the large desktop version */
body{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(../images/background.png);
    background-size:cover;
    position: relative;
}

/* Positioning for small paralax elements */
#scene{
    position:fixed;
}

.diamond-icon{
    top:170px !important;
    left:-620px !important;
    width:30px;
}

.coding-icon{
    top:200px !important;
    left:600px !important;
    width:30px;
}

.internet-icon{
    top:250px !important;
    left:350px !important;
    width:30px;
}

.modeling-icon{
    top:50px !important;
    left:450px !important;
    width:30px;
}

.layers-icon{
    top:70px !important;
    left:-420px !important;
    width:30px;
}

.css-icon{
    top:260px !important;
    left:-380px !important;
    width:30px;
}

.container{
    margin-top:100px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animated-name{
    width:100%;
}

.large-name{
    display: block;
}

.small-name{
    display: none;
}

@keyframes white-fill{
    from{
        fill:transparent;
    }
    to{
        fill: white;
    }
}

@keyframes forward-animation{
    to{
        stroke-dashoffset: 0px;
    }
}

.job-title{
    font-family: Roboto;
    font-weight: 200;
    font-size: 40px;
    color: #FFFFFF;
    margin-top:40px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:580px;
    margin-top:60px;
}

.filled-btn{
    height:60px;
    width:250px;
    background-color: #6B8F71;
    text-decoration: none;
    transition: 0.7s ease-in-out all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filled-btn:hover{
    background-color: #91E19E;
    box-shadow: 0 0 10px rgba(145, 225, 158, 0.5);
}

.btn-link{
    color:#ffffff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
    margin-top:120px;
}

.social-icon{
    width:40px;
    height:40px;
}

.social-icon-svg{
    width:100%;
    height:100%;
    fill:#ffffff;
    transition: 0.7s ease-in-out all;
}

.social-icon-svg:hover{
    fill:#91E19E;
    box-shadow: 0 0 10px rgba(145, 225, 158, 0.5);
}


/* Styles for small desktop version <1200px */
@media screen and (max-width:1200px){
    .container{
        width: 960px;
        margin-top:80px;
    }

    .job-title{
        font-size:36px;
    }
}

/* Styles for the tablet version <960px */
@media screen and (max-width:960px){
    #scene{
        display: none;
    }
    
    .container{
        width:720px;
    }

    .job-title{
        font-size:30px;
    }

    .filled-btn{
        width:220px;
        height:50px;
    }

    .action-buttons{
        width:500px;
    }

    .social-icon-svg:hover{
        fill:#ffffff;
        box-shadow: none;
    }

    .filled-btn:hover{
        background-color: #ffffff;
        box-shadow: none;
    }
}

/* Styles for the mobile version <720px */
@media screen and (max-width:720px){
    .container{
        width:320px;
        margin-top:40px;
    }

    .large-name{
        display: none;
    }

    .small-name{
        display: block;
    }

    .job-title{
        margin-top:30px;
    }

    .action-buttons{
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content: center;
        margin-top:50px;
    }

    .filled-btn{
        width:100%;
    }

    .filled-btn:last-child{
        margin-top:25px;
    }
    
}

/* Styles for small mobile phones <320px */
@media screen and (max-width:320px){
    .container{
        width:270px;
    }

    .job-title{
        font-size:24px;
    }

    .action-buttons{
        margin-top:40px;
    }

    .social-icons{
        margin-top:60px;
        width:240px;
    }
}