/* Styles for the portfolio page */

/*Styles for the desktop version */
body{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(../images/background.png);
    background-size:cover;
}

.container{
    margin-top:30px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    width:58px;   
}

.left-header-icon path{
    fill:white;
}    

.left-header-icon:hover path{
    fill:var(--hover);
    transition: fill 0.7s ease-in-out;
}

.right-header{
    width:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-header-link{
    text-decoration: none;
    color:#ffffff;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
}

.right-header-link-active{
    color:var(--green);
}

.right-header-link:hover{
    color:var(--hover);
    transition: 0.7s ease-in-out color;
}

.works{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;;
    margin-top:100px;
}

.works-piece{
    width:380px;
    height:350px;
    overflow:hidden;
    position:relative;
    transition: 0.7s ease-in-out box-shadow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom:30px;
}

.works-piece:hover{
    box-shadow: 0 0 20px rgba(145, 225, 158, 0.2);
}

.works-piece:hover .works-piece-overlay{
    opacity:1;
}

.works-piece-img{
    width:100%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.works-piece-overlay{
    opacity: 0;
    width:100%;
    height:100%;
    z-index: 10;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,15,37,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out opacity;
}

.overlay-name{
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.overlay-type{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top:15px;
    margin-bottom: 30px;
}

.stroke-btn{
    width:200px;
    height:40px;
    border: 2px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.7s ease-in-out all;
}

.stroke-btn:hover{
    background-color: var(--hover);
    border:2px solid transparent;
    box-shadow: 0 0 10px rgba(145, 225, 158, 0.5);
}

.stroke-btn-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}